body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

#piece-selection {
    display: flex;
    flex-direction: column;
    width: 500px; /* Adjust width if needed */
    margin-top: 20px;
    margin-right: 80px;
}

#piece-selection .piece {
    width: 70px; /* Adjust size if needed */
    height: 70px; /* Adjust size if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f0f0f0;
    margin: 5px;
    border: 1px solid #000;
    background-size: cover; /* Ensure the images cover the whole area */
}

.piece-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Space between rows */
}

.piece-row .piece {
    width: 60px; /* Adjust size if needed */
    height: 60px; /* Adjust size if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #000;
    background-size: cover; /* Ensure the images cover the whole area */
}

#chess-board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 2px solid #000;
    margin-top: 20px;
    margin-right: 80px;
}

.square {
    position: relative; /* Ensure pseudo-element is positioned correctly */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid white; /* White border for the frame */
    box-sizing: border-box; /* Ensure the border is inside the square */
    pointer-events: none; /* Ensure it doesn't interfere with mouse events */
}

.square:nth-child(even) {
    background-color: #769656;
}

.square:nth-child(odd) {
    background-color: #eeeed2;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#fen-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#turn-select {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

#output {
    margin-top: 20px;
    white-space: pre-wrap;
    border: 1px solid #000;
    padding: 10px;
    background-color: #f9f9f9;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Add margin-top to create space between the button and the input above */
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.square.selected {
    background-color: #f0e68c; /* Light yellowish color */
}

.piece {
    cursor: pointer;
}

.piece:active {
    cursor: grabbing;
}